.artist-card {
    :hover {
        cursor: pointer;
    }
}

.artist-image {
    width:450px;
    height:300px;
    border-radius: 5%;
}

.artists-wrapper {
    grid-template-columns: repeat(auto-fit, 450px);
    gap: 20px;
    display: grid;
    width:100%;
    justify-content: center;
    align-items: center;
}

.artist-info-wrapper{
    display:grid;
    width:100%;
}

.artist-name {
    color:white;
}

.album-count{
    color:white;
    margin-top: -20px;
}


.delete-artist-btn {
    position:absolute;
    right:10px;
}


.delete-artist-span {
    color:white;
    padding-left:10px;
}
.delete-artist {
    margin-left: 100px;
    width:200px;
    margin-top: 10px;;
    max-width:200px;
    height:50px;
    border: 1px solid white;
    border-radius:10px;
    display:flex;
    position: relative;
    align-items: center;
    :hover {
        cursor:pointer;
    }
}

.delete-artist-btn {
    position:absolute;
    right:10px;
    cursor:pointer;
}
