.artist-card {
    :hover {
        cursor: pointer;
    }
}

.artist-image {
    width:400px;
    height:200px;
    border-radius: 5%;
}

.artists-wrapper {
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 20px;
    display: grid;
    width:100%;
    justify-content: center;
    align-items: center;
}

.artist-info-wrapper{
    display:grid;
    width:100%;
}

.artist-name {
    color:white;
}

.album-count{
    color:white;
    margin-top: -20px;
}