.header-albums {
    color:white;
    padding-left: 100px;
}

.albums-page {
    height:100%;
    width:100%;
}


.add-album-span {
    color:white;
    padding-left:10px;
}
.add-album {
    margin-left: 100px;
    margin-top: 20px;
    width:200px;
    max-width:200px;
    height:50px;
    border: 1px solid white;
    border-radius:10px;
    display:flex;
    position: relative;
    align-items: center;
    :hover {
        cursor:pointer;
    }
}

.add-album-btn {
    position:absolute;
    right:10px;
}
